.add-todo {
  display: flex;
  padding: 5px 10px;
  border: 1px solid #bdc3c7;
  width: 220px;
}

.add-todo__toggle-all {
  color: #bdc3c7;
}

.add-todo__toggle-all.add-todo__toggle-all--active {
  color: #000;
}

.add-todo__input {
  font-style: italic;
  border: none;
  width: 100%;
}

.add-todo__input:focus {
  outline: none;
}

.add-todo__select-all {
  display: inline-block;
  line-height: 10px;
}