.todo-item {
  display: block;
  border: 1px solid #bdc3c7;
}

.todo-item:nth-last-child(n+2) {
  border-bottom: 0;
}

.todo-item__body {
  display: flex;
  padding: 5px 10px;
}

.todo-item__title {
  align-self: center;
  padding-left: 5px;
  flex-grow: 100;
}

.todo-item--remove {
  display: none;
}

.todo-item:hover .todo-item--remove {
  display: inline-block;
  flex-grow: 1;
}

.todo-item--toggle {
  display: inline-block;
  flex-grow: 1;
}

.todo-item--completed {
  text-decoration: line-through;
}

.todo-item--active .todo-item--toggle {
  color: #95a5a6;
}

.todo-item--completed .todo-item--toggle {
  color: #27ae60;
}

.todo-item--completed label.todo-item__title {
  color: #95a5a6;
}

.todo-item .todo-item--remove {
  color: #c0392b;
}